/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-screen bg-neutral-100 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-100;
  }
  body {
    @apply mb-20 select-none;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  input,
  select {
    @apply bg-inherit;
  }
  article {
    @apply select-text;
  }
}
